streamlit==1.42.2
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
langchain==0.3.19
langchain-community==0.3.18
langchain-core==0.3.39
langchain-ollama==0.2.3
langchain-text-splitters==0.3.6
pdfminer.six==20231228
pdfplumber==0.11.5
pydantic==2.10.6
pydantic-core==2.27.2
numpy==2.1.2
pandas==2.2.3
pyyaml==6.0.2
requests==2.32.3
jinja2==3.1.4
markupsafe==2.1.5
aiohttp==3.11.13
altair==5.5.0
typing-extensions==4.12.2